/************
 * Nautilus *
 ************/
// based css:
// https://gitlab.gnome.org/GNOME/nautilus/blob/master/src/resources/css/Adwaita.css
// hard-coded css:
// https://gitlab.gnome.org/GNOME/nautilus/blob/master/src/resources/css/nautilus.css

$nautilus: $base-alt;

.nautilus-window {
	&.background.csd {
		border-radius: 0 0 $window-radius $window-radius;
		background-color: $nautilus;

		&:backdrop {
			background-color: $base;
		}

		> grid.horizontal > paned.horizontal > separator,
		> deck > box.vertical > paned.horizontal > separator {
			margin-left: if($variant == 'light', -1px, 0);
		}

		placessidebar {
			> viewport.frame {
				> list {
					> separator {
						background: none;
					}
				}
			}
		}

		notebook widget.view:selected {
			@extend %selected_items_primary;
		}

		&.unified {
			notebook {
				border-radius: 0;
			}
		}

		&:not(.unified) {
			.nautilus-list-view {
				background-color: transparent;
				border-bottom-right-radius: $window-radius;

				// treeview.view:not(:hover):not(:active):not(:selected) {
				//   background-color: transparent;
				// }
			}

			notebook {
				background-color: $base;
				border-radius: 0 0 $window-radius $window-radius;

				> stack {
					background-color: transparent;
				}

				scrolledwindow
					> .view:not(:selected):not(:hover):not(:checked) {
					background-color: transparent;
				}

				placesview {
					> stack > frame > scrolledwindow > viewport > list {
						background-color: transparent;
					}
					> actionbar {
						background-color: transparent;
						border-radius: 0 0 $window-radius $window-radius;

						> revealer > box {
							background-color: transparent;
						}
					}
				}
			}

			paned > separator.wide {
				// Use paned separator to hide stack border-bottom-left-radius
				min-width: $window-radius;
				box-shadow: $window-radius 0 $base;
				background-color: $base;
				background-image: image(
					if(
						$variant == 'light',
						mix(black, $nautilus, 12%),
						mix(white, $nautilus, 12%)
					)
				);
			}
		}
	}

	&.maximized {
		// No border radius when window maximized
		&,
		placessidebar {
			border-radius: 0;
		}
	}

	// Floating status bar
	.floating-bar {
		min-height: 32px;
		padding: 0;
		margin: $space-size;
		border: none;
		border-radius: $corner-radius;
		background-color: $primary;
		color: on($primary);
		box-shadow: $shadow-z3;

		button {
			margin: (32px - $small-size) / 2;
			color: on($primary);

			@extend %small-button;
		}
	}
}

// .nautilus-canvas-item {
//   border-radius: $corner-radius;
// }

.nautilus-canvas-item.dim-label,
.nautilus-list-dim-label {
	color: $text-secondary;
}

%desktop-canvas-item,
.nautilus-desktop.nautilus-canvas-item {
	// background-color: $scrim;
	color: on(dark);
}

// Toolbar

@keyframes nautilus-operations-button-needs-attention {
	to {
		background-color: $overlay-focus;
	}
}

.nautilus-operations-button-needs-attention {
	animation: nautilus-operations-button-needs-attention
		$ripple-fade-out-duration $ease 2 alternate;
}

.nautilus-operations-button-needs-attention-multiple {
	animation: nautilus-operations-button-needs-attention
		$ripple-fade-out-duration $ease 6 alternate;
}

// Path bar
.path-bar-box {
	transition: background-color $duration $ease-out;
	margin: $space-size 0;
	border-radius: $corner-radius;

	button {
		margin: 0;
	} // reset the margin

	&.width-maximized {
		background-color: $titlebar-fill;
	}

	// workaround for 3.30.1
	&.background.frame {
		border-style: none;
		background-color: $titlebar-fill;
	}

	// for 3.30
	.path-bar button {
		label:not(:only-child) {
			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	// for 3.32
	.linked.nautilus-path-bar
		button:not(.suggested-action):not(.destructive-action) {
		padding-left: ($medium-size - 12px) / 2;
		padding-right: ($medium-size - 12px) / 2;
		margin-left: 1px;
		margin-right: 1px;

		label:not(:only-child) {
			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		&.text-button {
			min-width: 0;
			// border-radius: $circular_radius;
		}

		&.text-button.image-button {
			// border-radius: $circular_radius;
			image:not(:only-child) {
				margin: 0;
			}
		}

		&:last-child:dir(ltr),
		&:first-child:dir(rtl) {
			background-color: rgba($titlebar-text, 0.08);

			&:disabled {
				background-color: transparent;
				color: $titlebar-text-disabled;
			}
		}
	}
}

// >= 42.0
.windowhandle .linked.nautilus-path-bar {
	background-color: $titlebar-fill;
	border-radius: $corner-radius;
	margin: $space-size 0;

	button:not(.suggested-action):not(.destructive-action) {
		margin-top: 0;
		margin-bottom: 0;

		&.current-dir {
			color: $titlebar-text;

			&:hover,
			&:active {
				background: none;
				box-shadow: none;
			}
		}
	}
}

.disk-space-display {
	// border-style: solid;
	// border-width: 2px;

	&.unknown {
		background-color: $track;
		color: $track;
	}

	&.used {
		background-color: $primary;
		color: $primary;
	}

	&.free {
		background-color: $track-disabled;
		color: $track-disabled;
	}
}

// View
// Hide superfluous treeview drop target indication
.nautilus-list-view .view:not(.dnd) {
	// border-bottom: 1px solid $divider;
}

.search-information {
	padding: 2px;
	border-bottom: 1px solid $divider;
	background-color: $base;
	color: $text;
}

.documents-entry-tag {
	@extend .entry-tag;
}

.conflict-row:not(:selected) {
	background-color: mix($warning, $base, percentage(0.3));
}

// Icon view
.nautilus-window flowboxchild {
	// .icon-background { background-color: black; }

	.icon-item-background {
		padding: 4px;
		border-radius: $space-size;
	}

	&:selected {
		background-color: transparent;

		.icon-item-background {
			@extend %selected_items_color;
		}
	}
}

.nautilus-window notebook :not(treeview).view {
	border-radius: $space-size;

	selection,
	&:selected {
		@extend %selected_items_color;
	}
}

// Batch rename dialog
dialog.background > box.dialog-vbox.vertical > grid.horizontal {
	> scrolledwindow.frame {
		border-style: none;
	}

	> box.horizontal:last-child {
		margin: -6px 0 0 -6px;
		border-top: 1px solid $divider;

		> label {
			margin: 0 8px;
		}

		> box > button {
			border-radius: 0;
		}
	}
}

// Tweak to fix the messy sizing of the popover menu
.nautilus-window > popover.menu:not(:last-child) {
	padding: 3px;

	> stack > box > box > box {
		margin-top: -6px;

		> box {
			margin-bottom: -6px;

			&.linked {
				margin-top: 1px;
			}
		}
	}

	separator {
		margin-bottom: -2px;
	}
}

.nautilus-menu-sort-heading {
	// min-height: 26px;
	// padding-left: 5px;
	// padding-right: 5px;
	margin: 1px 3px;
	font-weight: 500;

	&:disabled {
		color: $text-secondary;
	}
}

// Make operations button circular
.nautilus-window headerbar revealer > button {
	@extend %circular-button;
}

// Ensure paned separator rendering. See issue #84 for details.
.nautilus-window paned > separator {
	background-color: $base-alt;
}
